.appoint_page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.appoint_page .make {
  height: 100%;
  min-width: calc(100% - 320px);
  display: flex;
  flex-direction: column;
  padding: 4rem 2.5rem;
  gap: 2rem;
}
.appoint_page .make h1 {
  color: var(--Red);
  font-family: 'Roboto',sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.appoint_page .make .title{
  display: flex;
  justify-content: space-between;
}
.appoint_page .make .title .s1 {
  color: #393939;
  opacity: 0.4993;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}
.appoint_page .make .title .s2 {
  color: var(--Red);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}

.appoint_page .add_app {
  align-items: center;
  display: flex;
  border-radius: 0.625rem;
  border: 1px solid var(--Red);
  padding: 0.7rem;
  align-self: end;
  gap: 0.5rem;
  cursor: pointer;
}
.appoint_page .add_app a {
  color: var(--Red);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
}

.appoint_page .appoints {
  display: flex;
  height: 74%;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 8px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.appoint_page .col {
  display: flex;
  height: 100%;
  padding: 1.5rem;
  justify-content: space-around;
}

.appoint_page .all_info {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.appoint_page .edit {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.appoint_page .edit button {
  border: none;
  cursor: pointer;
  background: none;
}
.appoint_page .date {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding: 0.9rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
  background: #fff;
}
