.Patients{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Patients .Patients-content{
  height: 100%;
  min-width: calc(100% - 320px);
  /* border-left: 0.01em solid var(--Red); */
  display: flex;
  flex-direction: column;
  padding: 4rem 2.5rem;
  gap: 2rem;
}