.Contacts {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Contacts .Contacts-container {
  height: 100%;
  min-width: calc(100% - 320px);
  /* border-left: 0.01em solid var(--Red); */
  display: flex;
  flex-direction: column;
  padding: 4rem 2.5rem;
  gap: 2rem;
}
.Contacts .Contacts-container .s1 {
  color: #393939;
  opacity: 0.4993;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}
.Contacts .Contacts-container .s2 {
  color: var(--Red);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}

.Contacts .Contacts-container h1 {
  color: var(--Red);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Contacts .table-container {
  overflow-x: scroll;
  overflow-y: scroll; 
  scrollbar-width: none;
  height: 90%;
}
.Contacts .table {
  height: 90%;
  width: 100%;
  border-radius: 0.625rem;
  border: 1px solid var(--Red);
}
.Contacts .table h3{
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1rem;
}
.Contacts .Contacts-container table {
  border-collapse: collapse;
}


.Contacts .Contacts-container table th,
.Contacts .Contacts-container table td {
  border-bottom: 1px solid #dddddd;
  padding: 1.5rem;
}

.Contacts .Contacts-container table td svg {
  cursor: pointer;
}

.Contacts .Contacts-container table th {
  font-weight: bold;
  text-align: left;
}
.Contacts .Contacts-container table thead{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 0.625rem;
  z-index: 1;
}
.Contacts .Contacts-container table tr:hover {
  background-color: #f2f2f2;
}

