.page {
  display: flex;
  flex-direction: row;
}
.page .register {
  width: calc(100% - 320px);
  border-left: 0.01em solid var(--Red);
}
.page .register .s1 {
  color: #393939;
  opacity: 0.4993;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}
.page .register .s2 {
  color: var(--Red);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.387px;
}

.register h1 {
  color: #be0202;
  font-family: "Roboto", sans-serif;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.register .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.register {
  display: flex;
  width: 45rem;
  height: 100%;
  padding: 3.125rem 5rem 5rem 5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125rem;
  flex-shrink: 0;
}

.register .text_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

.register .field_group {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.register .label {
  color: #1f1f1f;

  /* Body/S */
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.225rem */
}

.register .field {
  display: flex;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.625rem;
  border: 1px solid #be0202;
}

.register .inp {
  flex: 1 0 0;
  border: none;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  outline: none;
}

.register .field_group .text_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  flex: 1 0 0;
}

.register .reg {
  display: flex;
  background-color: var(--Red);
  color: var(--whiteColor);
  width: 100%;
  padding: 1.4vh 16.7vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.register .reg:hover {
  opacity: 0.7;
}

.register .active {
  text-decoration: none;
  color: var(--Default-White, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.03125rem;
}

.icon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: inherit;
  cursor: pointer;
}



/* after-click-btn */
.register .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 161%;
  background: rgba(18, 22, 25, 0.65);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.register .overlay .done {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 3rem;
  padding: 1rem 5rem;
  align-items: center;
  color: var(--whiteColor);
  border-radius: 0.625rem;
  background: #3D9C26;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.03125rem;
}
.register .overlay .done:hover {
  opacity: 0.7;
}
.register .overlay button{
  border-radius: 0.625rem;
  border: none;
  background: var(--Red);
}
.register .overlay .Registernew {
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 3rem;
  padding: 1rem 1.5rem;
  align-items: center;
  color: var(--whiteColor);
  border-radius: 0.625rem;
  background: var(--Red);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.03125rem;
}
.register .overlay .Registernew:hover {
  opacity: 0.7;
}