@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Clicker+Script&family=Oswald:wght@500&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400&family=Tajawal:wght@700&family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Roboto:wght@100;300;400;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --Red: #be0202; /*ok*/
  --blackred: rgba(190, 2, 2, 0.5);
  --mainColorLight: #f90723;
  --secondaryColor: #ff00007e;
  --whiteColor: #fff; /*ok*/
  --blackColor: #000000; /*ok*/
  --graycolor: #1f1f1f; /*ok*/
  --darkgraycolor: #353535; /*ok*/
  --Red-transparent: rgba(255, 0, 0, 0.5036);
  /* color: #016c8d; */
}
a {
  text-decoration: none;
}

.active {
  font-size: 0.9em;
  font-weight: 900;
}
